html, body {
	height: 100%;
}

body {
	background-color:#ffffff;
}

.displaynone {
	display:none;
}

.navbar-default {
        background-color: #384182;
        border-color: #000;
}
.navbar-default .navbar-brand {
        color: #f79433;
}

/* logo and site name */
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
        color: #f05239;
}
.navbar-default .navbar-text {
        color: #f79433;
}
.navbar-default .navbar-nav > li > a {
        color: #f79433;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
        color: #f05239;
	font-weight: bold;
	text-decoration: underline;
}
.navbar-default .navbar-toggle {
        border-color: #b9392b;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  background-color: #606482;
  color: #f05239;
  font-size: 1.2em;
}

.navbar-default .navbar-nav > .active > a {
  background-color: #606482;
  color: #f79433;
  font-size: 1.2em;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        background-color: #b9392b;
}
.navbar-default .navbar-toggle .icon-bar {
        background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
        border-color: #ffffff;
}
.navbar-default .navbar-link {
        color: #ffffff;
}


#wrap {
	min-height: 100%;
	height: auto;
	/* Negative indent footer by its height */
	margin: 0 auto -60px;
	/* Pad bottom by footer height */
	padding: 0 0 60px;
}

#footer {
	height: 60px;
	background-color: #f5f5f5;
	padding-top: 20px;
}

.alert {
        overflow: hidden;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        display: block;
}

#fees .txi_regular {
	background: #d3d3d3;
}

#fees .txi_segwit {
	background: #bae1ff;
}

#fees .txi_multisig {
	background: #baffc9;
}

#fees .txi_hodl {
	background: #ffdfba;
}

#fees .txi_unknown {
	background: #ffb3ba;
}

#fees .txo_p2pkh {
	background: #E679C8;
}

#fees .txo_p2sh {
	background: #FAFE92;
}

#fees .txinputs {
}

#fees .txoutputs {
}

.hideOverflow {
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}

#fees .slider {
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 30px;
	outline: none; 
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
	border: 2px dotted #c3c3c3;
}

#fees .sliderbtn {
	height: 30px;
	width: 30px;
	padding: 0px;
	margin: 0px;
	border: 0px;
}

#fees .slider:hover {
	opacity: 1;
}

#fees .slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 32px;
	height: 32px;
	border: 0;
	background: url('https://coinb.in/images/btc32x.png');
	cursor: pointer;
}

#fees .slider::-moz-range-thumb {
	width: 32px;
	height: 32px;
	border: 0;
	background: url('https://coinb.in/images/btc32x.png');
	cursor: pointer;
}

#fees .total {
	font-size: 100px;
}
